<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>{%= name %}</title>
    <link rel="stylesheet" href="stylesheets/app.css">
  </head>
  <body>
    <header>
      <h1>{%= name %}</h1>
    </header>
    <section>
      <p>Your content goes here.</p>
    </section>
    <footer>
      <small>Copyright {%= grunt.template.today('yyyy') %} {%= author %}</small>
    </footer>
    <script src="javascripts/app.js"></script>
  </body>
</html>
