<DOCTYPE !html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Markdown Editor</title>
    <link rel="stylesheet" href="assets/app.css">
  </head>
  <body ng-app="markdownEditor">
    <header class="masthead">
      <h1>MarkDownMark Editor</h1>
    </header>
    <div class="content" ng-controller="MainCtrl">
      <section class="editor">
	<textarea class="editor"
		  ng-model="input"
		  ng-change="updatePreview()">
	</textarea>
      </section>
      <section id="output" class="preview" ng-bind-html="output"></section>
    </div>
    <footer>
      <small>Copyright &copy; 2014 AwesomeCo</small>
    </footer>

    <script src="assets/app.js"></script>
  <body>
</html>
